/*
 * This file contains common page style for all page in the app.
 */

html,
body {
    height: 100%;
    font-family: "Helvetica Neue",Helvetica, Arial, sans-serif;
}
ul { margin: 0; padding: 0;}
img { border: 0; }
a:hover {
    color: #008000;
    text-decoration: none;
}
/* html5 */
article,aside,dialog,header,section,footer,nav,figure,menu{display:block}
/* color */
.red { color: red; }
.white { color: #ffffff;}
/* width */
.W500 { width: 500px}
/* font */
.FS15 { font-size: 1.5em; }
/* text-align */
.center { text-align: center; }
.right { text-align: right; }
/* margin */
.MT15 { margin-top: 15px; }
.MT25 { margin-top: 25px; }
.MB25 { margin-bottom: 25px; }
/* padding */
.PR0 { padding-right: 0; }
/* mini icon style */
.icon-msg-mini {
    width: 16px;
    height: 16px;
    vertical-align: middle;
    display: inline-block;
}
.icon-msg-mini.info {
    background: url('../images/icon-small.png') 0 -1050px no-repeat;
}
.icon-msg-mini.warning {
    background: url('../images/icon-small.png') 0 -1024px no-repeat;
}
/* CAPTCHA */
#link-captcha-change {
    display: inline-block;
    margin-left: 5px;
}
#link-captcha-change:hover {
    cursor: pointer;
    color: #5e82e1;
    text-decoration: underline;
}

/* page style */
#wrapper {
    min-height: 100%;
    height: auto;
    background: #EEF3Fa;
}

.logo{
    display: block;
    width: 280px;
    height: 56px;
    margin-top: -5px;
    background: url("../images/login-page-icon.png") -30px -199px no-repeat ;
}

input.verify-code{
    display: inline-block;
    width:40%;
    margin-right:10px;
}

/* the style of main content area  */
.content-box {
    width: 100%;
    padding: 5px;

    -webkit-box-shadow: 1px 1px 1px 1px #3298bd;
    -moz-box-shadow: 1px 1px 1px 1px #3298bd;
    box-shadow: 1px 1px 1px 1px #3298bd;;
}
.content-box > h3 {
    margin: 2px 7px;
    padding: 8px;
    border-bottom: 1px solid #c0cc7c;
}

.content-box .mc {
    margin: 2px 7px;
}

.content-box .mc .mc-body {
    padding: 20px 20px 30px 20px;
    /*border: 1px solid #f89406;*/
}
.mc .mc-body > dl {
    margin: 0 10px;
}
.mc .mc-body > dl > dd {
    display: block;
    padding: 5px 0;
    border-bottom: 1px solid #00aa00;
}
.mc .mc-body > dl > dd:after {
    clear:both;
}
.mc-body > dl > dd span {
    display: inline-block;
    font-size: 1.0em;
}
.mc-body > dl .item-label {
    width: 15%;
    margin: 0 10px;
    padding: 10px;
    font-size: 1.3em;
    font-weight: bold;
}
.mc-body > dl .item-info {
    width: 50%;
    margin-left: 30px;
}
.mc-body > dl .item-op {
    width: 10%;
    text-align: right;
}
.mc-body .account .portrait {
    display: inline-block;
    width:  80px;
    height: 80px;
}
.mc-body .account .account-info{
    position: relative;
    margin:0 7px;
    min-width: 50px;
    min-height: 80px;
}
.mc-body .account .account-info .nick-name {
    display: block;
    margin: 2px 0;
    padding-bottom: 5px;
    top: 2px;
}
.account-info .history-login {
    margin-top: 10px;
    padding-bottom: 5px;
}
