
/*
 * This file contains all page style for gym admin page
 */
/* general component style */
.add-access {
    display: block;
    margin: 15px auto 30px auto;
    width: 80%;
    height: 100px;
    background: #3aada0;
    border-radius: 5px;
    text-align: center;
    line-height: 100px;
    color: #fff;
    font-size: 2.0em;
}
.add-access > a{
    color: #ccc;
}
.add-access:hover {
    background: #45d6c9;
}
.add-access:hover > a{
    color: #fff;
}
/* operator */
.opr-mid {
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    font-size: 2.5em;
}

/* header style */
#gym-header {
    width: 100%;
    height: 80px;
    background: #23B868;
}

.account {
    padding-top: 15px;
    margin-right: 20px;
}
.account .portrait {
    display: inline-block;
    width:  52px;
    height: 52px;
    background: url('../images/icon-common.png') -69px -25px no-repeat;
}

.account-meta {
    display: inline-block;
    vertical-align: bottom;
}

.account-info {
    position: relative;
    margin:0 7px;
    min-width: 50px;
}
.authentic {
    position: absolute;
    top: 2px;
}
.authentic.authentic-fail {
    background: #cccccc;
}
.account-info .nick-name {
    display: inline-block;
    margin-top: 30px;
    padding-bottom: 5px;
}
#logout {
    display: inline-block;
    margin: 18px 5px 8px 0;
    padding-left: 13px;
    line-height: 16px;
    border-left: 1px solid #e7e7eb;
}
/* the main navigation */
.navbar-main {
    margin: 0 10px;
    width: 100%;
    height:auto;
    background:#fff;
    -webkit-box-shadow: 3px 3px 5px 0 #4F4D4D;
    -moz-box-shadow: 3px 3px 5px 0 #4F4D4D;
    box-shadow: 3px 3px 5px 0 #4F4D4D;
    color:#333;
    font-size: 1.5em;
}
.navbar-main > li > a {
    border-radius: 0;
}

.navbar-main > li.active > a {
    background-color: #46EFAF;
}
.navbar-main > li.active > a:hover {
    cursor: default;
    background-color: #46EFAF;
}

/* the menu sidebar */
.col-menu {
    float: left;
    width: 18%;
    max-width:  200px;
    margin:30px 0 0 20px;
}

.col-menu > .menu-sidebar {
    width:100%;
    height: 300px;
    -webkit-box-shadow: 2px 2px 2px 2px #909090;
    -moz-box-shadow: 2px 2px 2px 2px #909090;
    box-shadow: 2px 2px 2px 2px #909090;
}
.col-menu > .menu-sidebar > .menu-sidebar-title {
    margin: 5px 0px;
    padding: 5px;
    background: url('../images/bar-gym.png') -200px -200px no-repeat;
}
ul.menu > li {
    margin: 10px 0;
    padding: 5px 0;
    font-size: 1.3em;
    list-style: none;
}

/* main body style */
.col-main {
    float: left;
    width: 75%;
    margin: 30px 0px 0 50px;
}
.col-main .list-gym-item {
    margin-bottom: 25px;
    height: 150px;
    width: 100%;
    -webkit-box-shadow: 1px 1px 1px 1px #009900;
    -moz-box-shadow: 1px 1px 1px 1px #009900;
    box-shadow: 1px 1px 1px 1px #009900;
}
.list-gym-item .logo-gym {
    display: inline-block;
    margin: 20px 10px 20px 30px;
    width: 80px;
    height: 80px;
    background: url('../images/gym-logo.jpg') no-repeat;
}
.list-gym-item .gym-info {
    display: inline-block;
    position: relative;
    margin: 20px 10px;
    min-width: 100px;
    vertical-align: top;
}
.list-gym-item .gym-info .gym-name {
    display: inline-block;
    font-size: 1.5em;
    font-weight: bold;
}
.list-gym-item .gym-info .gym-district {
    display: inline-block;
    font-size: 0.9em;
}
.list-gym-item .gym-info .gym-authentic {
    position: absolute;
    top: 35px;
    left: 5px;
    background: #909090;
}
.list-gym-item .gym-info ul.gym-sports {
    padding: 0;
    position: absolute;
    list-style: none;
    top: 70px;
    left: 5px;
}
.list-gym-item .gym-info ul.gym-sports > li {
    display: inline;
}

.list-gym-item .estimate-gym {
    float: right;
    margin: 20px 10px;
}
.list-gym-item .estimate-gym > .estimate {
    display: inline-block;
    padding-right: 20px;
}

.recent-info table {
    border-collapse: collapse;
    border: 1px solid #000;
}
.recent-info table th {
    border: 1px solid #666666;
    padding: 8px;
    background-color: #DEDEDE;
}

.recent-info table td {
    border: 1px solid #666666;
    padding: 8px;
    background-color: #ffffff;
}

.gym-box {
    position: relative;
    width: 100%;
}
.gym-box .main-gym {
    position: relative;
    padding: 5px 8px;
    width: 95%;

    -webkit-box-shadow: 1px 1px 1px 1px #3298bd;
    -moz-box-shadow: 1px 1px 1px 1px #3298bd;
    box-shadow: 1px 1px 1px 1px #3298bd;;
}
.gym-box .main-gym > h3 {
    margin: 2px 7px;
    padding: 2px;
    border-bottom: 1px solid #cccccc ;
}
.main-gym .profile-gym {
    margin: 2px 7px;
    padding: 2px;
}

.main-gym .logo-gym {
    float: left;
}
.main-gym .btn-venuse-setting {
    float: right;
}

.main-gym .profile-gym .simple-info {
    float: left;
    padding: 2px 10px;
    width: 70%;
    min-width: 500px;
    font-size: 1.2em;
}
.profile-gym .simple-info .name {
    font-size: 1.3em;
    margin: 3px 0;

}
.profile-gym .simple-info .status {
    font-size: 0.9em;
    color: #c67605;
}
.profile-gym .simple-info > ul {
    list-style: none;
    margin: 5px 0 0 10px;
    padding: 0
}
.profile-gym .simple-info > ul >li {
    display: inline-block;
    width: 45%;
    color: #606060;
}
.profile-gym .simple-info > ul >li b {
    color: #000;
}
.profile-gym .simple-info li.district {
    display: block;
    width: 100%;
}

.profile-gym .simple-info li span{
    margin-left: 10px;
}
.profile-gym .simple-info li.des-gym {
    display: block;
    width: 100%;
}
/**/
.profile-gym .others-info-gym {
    display: block;
    clear: both;
    padding: 5px 0;
}
.profile-gym .others-info-gym h3 {
    padding: 5px 0;
    border-bottom: 1px solid #CCCCFF;
}
.profile-gym .others-info-gym.coach > ul {
    list-style: none;
    margin: 5px 0 0 10px;
    padding: 0
}
.profile-gym .others-info-gym.coach > ul > li {
    display: table-cell;
    width: 1%;
}
.others-info-gym.coach li > .coach-portrait {
    float: left;
}
.others-info-gym.coach li > .coach-simple-info {
    float: left;
    margin-left: 5px;
    list-style: none;

}
.others-info-gym.coach .link-more {
    float: right;
}
#outer:after{ content:"."; height:0; visibility:hidden; display:block; clear:both; }

/* the field stylle */
.fc {
    margin: 10px auto;
    width: 98%;
}
.fc > dl {
    padding: 10px 5px;
    border: 1px dashed #1e977b;
}
.fc > dl > dt, dd{
    display: inline-block;
    padding: 5px 10px;
    vertical-align: top;
}

.fc .fc-detail {
    width: 20%;
}

.fc .fd-container {
    width: 50%;
}

.fd-container ul > li {
    position: relative;
    float: left;
    margin: 10px;
    width: 60px;
    height: 60px;
    background: #54aa6e;
    box-shadow: 0 0 5px rgba(0,0,0,.3) inset;
    border-radius: 4px;
    text-align: center;
    line-height: 60px;
}
.fd-container input[type="checkbox"] {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    margin: -4px ;
    width: 20px;
    height: 20px;
}
.fd-container .fd-item > .fd-name {
    position: absolute;
    top: 30px;
    margin: 0;
    width: 100%;
    height: 100%;
}
.fd-container .fd-item > .fd-status {
    font-size: 0.9em;
    font-weight: normal;
}
.fd-name-edit {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 0;
    width: 100%;
    height: 20px;
    background: #ccc;
    border-radius: 0 0 4px 4px;
    vertical-align: bottom;

    line-height: 20px;
    color: #fff;
}
.fd-item .fd-name-edit {
    display: none;
}
.fd-item:hover .fd-name-edit {
    display: block;
}

.fd-list .opr-confirm {
    display: none;
}
.fd-list .opr-confirm > a{
    font-size: 1.9em;
}
.fd-list .opr-confirm > a.js_delsubmit {
    color: #ac0000;
    font-size: 1.9em;
}
.fd-list .opr-confirm:hover > a.js_delsubmit {
    color: red;
}

.clockpicker {
    display: inline-block;
    width: 45%;
}
.step-update {
    width: 480px;
    border-top: 5px solid #ccc;
    text-align: center;
    margin: 30px auto;
}
.step-update > dl {
    display: inline-block;
    width: 150px;
}
.step-update > dl.done {
    color: #0000ff;
}
.step-update > dl.doing {
    color: #0097cf;
}
.step-form {
    width: 480px;
    margin: 5px auto;
}
.attest-info {
    list-style: none;
}
